/* FONTS */

@font-face {
	font-family: Calistoga;
	src: url('./fonts/Calistoga-Regular.ttf');
}


/* RESET STYLE */

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* END RESET STYLE */

body {
	font-family: sans-serif;
	height: 100%;
}

/* HEADER */
.container {
	max-width: 1110px;
	padding: 0 20px;
	margin: 0 auto;
	height: 50px;
}

.nav-home {
	width: 100%;	
	background-color: #9daaf2;
	height: 70px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: 20px 0;
}

.header .logo a {
	font-family: Calistoga;
	font-size: 24px;
	color: #fff;
	font-weight: 500;
}

.header ul {
	display: flex;
	gap: 30px;
	text-transform: uppercase;
	left: 0;
}

.header ul li a {
	color: #fff;
	text-transform: uppercase;
	transition: .3s ease all;
	font-weight: 500;
}

.header ul li a:hover {
	opacity: .8;
}

/* END HEADER */



/* SECTION HERO */

.hero {
	position: relative;
}

.hero h1 {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-size: 26px;
	text-align: center;
}

.hero-bg img {
	filter: brightness(50%);
	width: 100%;
}

/* END SECTION HERO */

.decoration-line {
	margin-top: -4px;
	background-color: #ff6a3d;
	height: 50px;
}

/* SECTION ABOUT */

.about {
	display: flex;
	align-items: center;
}

.about img {
	flex: 1 0 50%;
	margin-top: -4px;
	width: 100%;
}

.about-content {
	padding-left: 30px;
	flex: 1 0 50%;
	padding-right: 20px;
}

.about-content h3 {
	color: #484a55;
	font-size: 24px;
	max-width: 600px;
	padding-bottom: 30px;
	line-height: 1.3;
}

.about-content p {
	line-height: 1.3;
	color: #818498;
	font-size: 20px;
	max-width: 600px;
}

/* END SECTION ABOUT */

/* SECTION SERVICES */

.services {
	margin-top: -4px;
	background-color: #ffd101;
	height: 50px;
}


/* END SECTION SERVICES */

/* SECTION GALLERY */

.gallery {
	display: flex;
	margin-bottom: -4px;
}

.img {
	flex: 1 1 33.3%;
}

.img img {
	width: 100%;
}

/* END SECTION GALLERY */


/* FOOTER */

.footer {
	background-color: #1a2238;
	height: 60px;
}

.footer-content {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	color: #fff;
	align-items: center;
}

.footer-content p {
	font-size: 16px;
}

.footer-content p a {
	color: #fff;
}

/* END FOOTER */

/* RESPONSIVE */

@media (max-width:768px) {
	.about-content h3 {
		font-size: 18px;
	}

	.about-content p {
		font-size: 14px;
	}

	.services ul li {
		font-size: 16px;
	}
}

@media (max-width:640px) {
	.hero h1 {
		font-size: 20px;
		line-height: 1.5;
	}

	.about {
		flex-direction: column-reverse;
	}

	.about-content {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
	}

	.footer {
		height: 80px;
	}

	.footer-content {
		flex-direction: column-reverse;
		gap: 10px;
	}
}

@media (max-width:425px) {
	.header .logo a {
		font-size: 14px;
	}

	.header ul li a {
		font-size: 10px;
	}

	.hero h1 {
		font-size: 12px;
		width: 100%;
	}

	.gallery {
		flex-direction: column;
	}

	.gallery img:only-child {
		margin-top: -4px;
	}

	.services ul {
		gap: 30px;
	}

	.footer-content p {
		font-size: 10px;
	}
}
